<!DOCTYPE html>
<html ng-app="artistApp">

<head>

  <!--title-->
  <title>Angular & Firebase</title>

  <!--Meta-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Styles-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="styles/style.css">

</head>

<body>
<main class="main-wrapper container" ng-controller="FirstCtrl" >

  <form class="form">

    <input type="text" placeholder="email" ng-model="email">
    <input type="text" placeholder="password" ng-model="password">
    <button type="submit" ng-click="signUp()"> Create Account </button>
  </form>



  <form class="form">
    <h1>Artist Info</h1> Artist Name:
    <input type="text" placeholder="Name" ng-model="name">
    Artist Genre:
    <input type="text" placeholder="genre" ng-model="genre">
    Artist Score:
    <input type="number" placeholder="0 - 100" ng-model="score">
    <button type="submit" ng-click="addArtist()"> Add </button>
  </form>


  <div ng-repeat="artist in artists" c;ass="container">


  </div>
  <div class="col-sm-4" ng-repeat="artist in artists">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">  {{artist.name}}</h3>
      </div>
      <div class="panel-body">
       <h4> Genre: {{artist.genre}}</h4>
        <h4>Rating: {{artist.rating}}</h4>
      </div>
      <button class="btn btn-primary delete-button" ng-click="artist.$remove(message)"> remove artist</button>

    </div>
  </div>


</main>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

<!--This will initialize the firebsase SDK-->

<script>

  var config = {
    apiKey: "AIzaSyC2wEZiZaT5w59qyF7HJG1iPLe6VsF13Ng",
    authDomain: "locallabs-2727d.firebaseapp.com",
    databaseURL: "https://locallabs-2727d.firebaseio.com",
    storageBucket: "locallabs-2727d.appspot.com",
  };
  firebase.initializeApp(config);
</script>

<!--Before we can use AngularFire with dependency injection, we need to register firebase as a module in our application.-->
<script src="app.js"></script>
<script src="FirstController.js"></script>
<script src="service.js"></script>



</body>

</html>